
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 20px;
    line-height: 1.7;
}

.splash {
    display: flex;
    justify-content: center;
}

section {
    padding: 0 96px;
    width: 30%;
    margin: auto;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
}

.page-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

.page-subtitle {
    font-weight: 300;
    font-size: 18px;
}

.footer {
    font-size: 12px;
}